@import-normalize; /* bring in normalize.css styles */
p {
	margin: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: lightcyan;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.profile {
	margin: 0 auto;
	width: 210px;
	border: 1px solid gray;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: white;
}
.description {
	width: 100%;
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: gray;
	margin-bottom: 20px;
}

.avatar {
	border-radius: 50%;
}
.name {
	color: black;
	font-weight: 700;
	letter-spacing: 0.03;
}

.tag {
}

.location {
}
.stats {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	background-color: lightgray;
	width: 100%;
	
}
.stats li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 33.3333%;
	padding: 5px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
}

.stats li:nth-child(3) {
	border-right: none;
}
.label {
	font-size: 10px;
	color: gray;
}

.quantity {
	font-size: 10px;
	color: black;
	font-weight: 700;
}

.statistics {
	outline: 1px solid saddlebrown;
	margin: 0px auto;
}

.title {
	text-align: center;
}
.stat-list {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.item {
	display: flex;
	flex-direction: column;
	gap: 7px;
	padding: 10px;

	border: 1px solid gray;
	border-left: none;
}

.item:nth-child(1) {
	border-left: 1px solid gray;
}
.label {
}

.percentage {
}

.friend-list {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 7px;
}

.friend-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: antiquewhite;
	width: 200px;
	padding: 10px;
}

.friend-status {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	font-size: 0px;
	background-color: green;
	margin-right: 5px;
}
.offline {
	background-color: red;
}
.friend-avatar {
	border-radius: 4px;
	margin-right: 5px;
}

.friend-name {
	font-weight: 500;
}

.transaction-history {
	table-layout: fixed;
	width: 700px;
	border-collapse: collapse;
	border: 1px solid gray;
	margin: 0 auto;
	text-align: center;
}

tbody > tr:nth-child(odd) {
	background-color: whitesmoke;
}

tbody > tr:nth-child(even) {
	background-color: lightslategray;
}

tbody > tr:hover {
	background-color: tomato;
	color:white;
}

thead {
	background-color: dodgerblue;
	color: aliceblue;
	padding: 20px;
}

th {
	padding: 20px;
}
thead th:nth-child(1) {
	width: 35%;
}

thead th:nth-child(2) {
	width: 35%;
}

thead th:nth-child(3) {
	width: 30%;
}

td {
	padding: 20px;
}
